@{
    ViewBag.ActiveMenu = "Markets"; //The menu item will be active for this page.
    ViewBag.FluidContainer = true;
}

<div>
    <ul id="marketTabs" class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#grid" aria-controls="grid" role="tab" data-toggle="tab">Grid</a></li>
        <li role="presentation"><a href="#tosScatter" aria-controls="tosScatter" role="tab" data-toggle="tab">TOS Scatter</a></li>
        <li role="presentation"><a href="#tosColumn" aria-controls="tosColumn" role="tab" data-toggle="tab">TOS Column</a></li>
        <li role="presentation"><a href="#qtScatter" aria-controls="qtScatter" role="tab" data-toggle="tab">QT Scatter</a></li>
        <li role="presentation"><a href="#qtColumn" aria-controls="qtColumn" role="tab" data-toggle="tab">QT Column</a></li>
        <li role="presentation"><a href="#overallColumn" aria-controls="overallColumn" role="tab" data-toggle="tab">Overall Column</a></li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="grid">
            @Html.Partial("_MarketsGrid")
        </div>
        <div role="tabpanel" class="tab-pane" id="tosScatter">
            <div class="row">
                <div class="col-xs-offset-2 col-xs-8">
                    @Html.Partial("_TosMarketsScatter")
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="tosColumn">
            <div class="row">
                <div class="col-xs-offset-2 col-xs-8">
                    @Html.Partial("_TosMarketsColumn")
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="qtScatter">
            <div class="row">
                <div class="col-xs-offset-2 col-xs-8">
                    @Html.Partial("_QtMarketsScatter")
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="qtColumn">
            <div class="row">
                <div class="col-xs-offset-2 col-xs-8">
                    @Html.Partial("_QtMarketsColumn")
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="overallColumn">
            <div class="row">
                <div class="col-xs-offset-2 col-xs-8">
                    @Html.Partial("_OverallMarketsColumn")
                </div>
            </div>
        </div>
    </div>
</div>



